/*
 *
 * #matchesdialog h1 {color:
 * pale yellow #ffff99
 * light blue #D4EFFC
 * baby blue #83B4E1
 * medium blue #4E84C4
 * medium violet #201f59
 */
/* structure */
.switch				{padding:0 10px 10px 10px !important; background:#13143B !important; color:#fff !important}
.preload			{margin:150px 0;}
.preload .header,
.preload img.logo	{margin-bottom:30px;}
.preload .lcol		{width:240px; margin:0 22px}
.preload .rcol		{width:290px;}
.preload p			{margin-top:0;}
.preload .summary	{padding:10px 0; font-size:1.6em; border-style:dotted none; border-width:2px; border-color:#4E84C4;}

.switch .bgcontainer	{background:url('http://www.tekimaki.com/clients/bw/energymeasures/images/switch_bg.gif') repeat-x left top; padding:20px}
.play img.logo		{margin-bottom:12px;}
.play .summary		{margin:29px 0 0 10px; width:225px; padding:12px 0; font-size:1.17em; border-style:dotted none; border-width:2px; border-color:#4E84C4; color:#D4EFFC}
.play .edit .lcol,
.play .lcol			{width:344px; padding:0; overflow:hidden; margin-top:1px}
.play .edit .rcol	{width:310px; margin-left:345px; border-top:none;}
.play .rcol			{margin-left:345px; border-top:1px solid #13133B;} /* border hack to trip top margin respect in children */
.play .body			{margin:0 !important; padding-top:12px !important}
.play .content .body	{padding:0 !important}

.switch .game,
.switch .content	{position:relative;}

#thankyoudialog,
#suggestdialog		{/*position:absolute; top:0; left:0; z-index:20;*/ width:100%;} 

#thankyoudialog		{width:auto; padding:82px}
#thankyoudialog p	{margin:0 0 22px 0}
#thankyoudialog .score .center	{text-align:center; padding:12px 0; margin:38px 0}

#gameboard			{background:url('http://www.tekimaki.com/clients/bw/energymeasures/images/gameboard_bg.jpg') no-repeat left top; border:dotted 2px #4E84C4; padding:0; margin-right:10px;}
#gameboard,
#savescoredialog,
.description		{margin-top:14px;}

#scoreboard .selected,
#scoreboard .rejected			{height:334px; overflow:auto;}
.total				{font-size:1.4em; color:white; padding:6px;}
.goal				{font-size:1.2em; background:#bbb; padding:4px;}

#scoreboard .actions,
.postgame			{margin:12px 0;}

.footer				{}




/* common */
.switch a:link,
.switch a:visited 	{color:#4E84C4}
.switch h1,
.switch h2,
.switch h3,
.switch h4,
.switch h5 {color:#D4EFFC !important; font-family:"Arial Rounded MT Bold", Arial, Helvetica, sans-serif; font-weight:normal;}

#matchesdialog h1,
#matchesdialog h2,
#matchesdialog h3,
#matchesdialog h4,
#matchesdialog h5 {color:#fff !important; text-transform: none; font-family:Arial, Helvetica, sans-serif;}

#matchesdialog h1 {color:#ffff99}

.hidden			{visibility:hidden}

.switch td		{text-align:left; font-weight:bolder; font-size:1.1em}
.switch td.icon		{width:40px; padding:4px;}
.switch td.value	{text-align:right}

.play .header h2	{font-family:"Arial Rounded MT Bold", Arial, Helvetica, sans-serif; font-weight:normal; color:#4E84C4 !important; text-transform:uppercase; margin-bottom:10px;}
.play .formlabel	{font-size:1.2em}

.switch .options strong,
.switch .footer strong {text-transform:uppercase; color:#4E84C4}

.switch .formhelp	{color:#D4EFFC}




/* ui */
ul.tabbar		{list-style:none; border-bottom:2px solid #4E84C4; font-weight:bolder; margin:0; padding:0 0 13px 20px;}
ul.tabbar li	{float:left;}
ul.tabbar li a	{float:left; display:block; cursor:pointer}

ul.tabbar li.active 	{
	padding-left:12px;
	background:white url('http://www.tekimaki.com/clients/bw/themes/styles/aqua2/images/tabedge.gif') no-repeat left top;
}
ul.tabbar li.active a	{
	padding-right:12px;
	background:url('http://www.tekimaki.com/clients/bw/themes/styles/aqua2/images/tabedge.gif') no-repeat right top;
}

.actions	{padding:10px 0; text-align:center;}
.switch .submit input,		
.btn	{cursor:pointer; color:white; background:#83B4E1; padding:6px 10px; font-size:1.2em; margin-right:10px; text-transform: uppercase; border:none; color:#13143B; font-weight:bold;}
a.suggest {cursor:pointer; color:#4E84C4;}

.endgame {text-transform:none;}




/* game */
.card			{cursor:pointer; display:block; float:left; overflow:hidden; background: url('http://www.tekimaki.com/clients/bw/energymeasures/images/card_down.gif') no-repeat left top; }
.upcard			{}
.selectedcard	{background:#4E84C4}

#matchesdialog {
	width:554px; 
	margin:0 auto; 
	padding:20px; 
	position:absolute; 
	top:60px; left:0; right:0; 
	z-index:10;
	color:#fff; 
	text-align:center; 
	border:solid 1px #4E84C4;

	background: rgb(36,36,93); 
	background: rgba(36,36,93, 0.9);
}
#matchesdialog .btn	{border:1px solid #fff}





/* take care of some nasties */

.switch #edit_score .clear	{clear:none}
.switch legend				{display:none !important}
.switch fieldset			{border:none; margin:0; padding:0}
#content .switch .edit		{padding:0} 

.switch #edit_suggestion textarea			{width:94%}
.switch #edit_suggestion .lcol textarea		{width:94%}
.switch	#edit_suggestion .lcol input		{width:94%}
.switch #edit_suggestion .submit			{margin-top:22px}

.switch	.fieldlabel,
.switch input,
.switch textarea	{font-size:1.2em; font-weight:normal; color:#333}

.switch	.fieldlabel	{margin:4px 0;}

