/*
 *
 * pale yellow #ffff99
 * light blue #D4EFFC
 * baby blue #83B4E1
 * medium blue #4E84C4
 * medium violet #201f59
 */
/* structure */
.switch				{padding:0 10px 10px 10px !important; background:#13143B !important; color:#fff !important; min-width:680px} /*700 less padding in switch.css*/
.preload			{margin:150px 0;}
.preload .header,
.preload img.logo	{margin-bottom:30px;}
.preload .lcol		{width:240px; margin:0 22px}
.preload .rcol		{width:290px;}
.preload p			{margin-top:0;}
.preload .summary	{padding:10px 0; font-size:1.6em; border-style:dotted none; border-width:2px; border-color:#4E84C4;}

.switch .bgcontainer	{background:url('http://www.tekimaki.com/clients/bw/energymeasures/images/switch_bg.gif') repeat-x left top; padding:5px 20px; height:590px;}
.play img.logo		{margin-bottom:12px;}
.play .summary		{margin:29px 0 0 10px; width:225px; padding:12px 0; font-size:1.17em; border-style:dotted none; border-width:2px; border-color:#4E84C4; color:#D4EFFC}
.play .edit .lcol,
.play .lcol			{width:344px; padding:0; overflow:hidden; margin-top:1px}
.play .edit .rcol	{width:310px; margin-left:345px; border-top:none;}
.play .rcol			{margin-left:345px; border-top:1px solid #13133B;} /* border hack to trip top margin respect in children */
.play .body			{margin:0 !important; padding-top:12px !important}
.play .content .body	{padding:0 !important}

.switch .game,
.switch .content	{position:relative;}

#thankyoudialog,
#suggestdialog		{/*position:absolute; top:0; left:0; z-index:20;*/ width:100%;} 

#thankyoudialog		{width:auto; padding:60px 60px 100px}
#thankyoudialog p	{margin:0 0 22px 0}
#thankyoudialog .score .center	{text-align:center; padding:12px 0; margin:38px 0}

#gameboard			{background:url('http://www.tekimaki.com/clients/bw/energymeasures/images/gameboard_bg.jpg') no-repeat left top; border:dotted 2px #4E84C4; padding:0; margin-right:10px;}
#gameboard,
#savescoredialog,
.description		{margin-top:14px;}

#scoreboard .selected,
#scoreboard .rejected			{height:317px; overflow:auto;}
#scoreboard .selected			{border-top:6px solid #4E84C4; border-bottom:6px solid #4E84C4}
#scoreboard .rejected			{border-top:6px solid #CCC; border-bottom:6px solid #CCC}
.switch .total				{font-size:1.4em; background:#000; color:#ffff99; padding:6px; position:relative;}
.switch .goal				{font-size:1.2em; background:#ffff99; color:#000; padding:4px; position:relative;}
.score .value						{position:absolute; top:6px; right:5px;}

#scoreboard .actions a {color:#4E84C4}
#scoreboard .actions img {border:none}
#scoreboard .actions {position:relative; margin:6px 0}
.postgame			{margin:12px 0;}

.switch .footer				{position:relative}




/* common */
.switch a:link,
.switch a:visited 	{color:#4E84C4}

.switch h1,
.switch h2,
.switch h3,
.switch h4,
.switch h5 {color:#D4EFFC !important; font-family:"Arial Rounded MT Bold", Arial, Helvetica, sans-serif; font-weight:normal;}

.switch h1 {font-size:1.5em}
.switch h2 {font-size:1.4em}
.switch h3 {font-size:1.2em}
.switch h4 {font-size:1.1em}
.switch h5 {font-size:1em}


#matchesdialog h1,
#matchesdialog h2,
#matchesdialog h3,
#matchesdialog h4,
#matchesdialog h5 {color:#fff !important; text-transform: none; font-family:Arial, Helvetica, sans-serif;}

#matchesdialog .body,
#matchesdialog h3 {margin:10px 0 !important}
#matchesdialog h1.highlight {color:#ffff99 !important}

.hidden			{visibility:hidden}

.switch td		{text-align:left; font-size:1.1em}
.switch td.icon		{width:30px; padding:4px;}
.switch td.value	{text-align:right; color:#ffff99}

.play .header h2	{font-family:"Arial Rounded MT Bold", Arial, Helvetica, sans-serif; font-weight:normal; color:#4E84C4 !important; text-transform:uppercase; margin-bottom:10px;}
.play .formlabel	{font-size:1.2em}

.switch .options strong,
.switch .footer strong {text-transform:uppercase; color:#4E84C4}

.switch .formhelp	{color:#D4EFFC}




/* ui */
ul.tabbar		{list-style:none; font-weight:bolder; margin:0; padding:0 0 14px 60px;}
ul.tabbar li	{float:left;}
ul.tabbar li a	{float:left; display:block; cursor:pointer; color:#201f59; padding: 2px 4px 0 4px; line-height:1em;}

ul.tabbar li.selectedtab 	{
	background: #4E84C4
}
ul.tabbar li.rejectedtab 	{
	background: #CCC
}
ul.tabbar li.active 	{
}
ul.tabbar li.active a	{
}

.actions	{padding:10px 0; text-align:center;}
.switch .submit input,		
.btn	{cursor:pointer; color:white; background:#83B4E1; padding:6px 10px; font-size:1.2em; margin-right:10px; text-transform: uppercase; border:none; color:#13143B; font-weight:bold;}
a.suggest {cursor:pointer; color:#4E84C4;}

.endgame 	{display:block; position:absolute; top:0; left:45px; width:100px; text-transform:none; cursor:pointer; font-size:1.2em;}
.endgame span	{position:absolute; margin-top:10px; left:34px;}
#scoreboard .playagain	{display:block; position:absolute; top:18px; right:45px; width:100px; text-transform:uppercase; cursor:pointer; font-size:1.2em;} 

#suggestthankyou { padding: 60px 60px 150px }




/* game */
.card			{cursor:pointer; display:block; float:left; overflow:hidden; background: url('http://www.tekimaki.com/clients/bw/energymeasures/images/card_down.gif') no-repeat left top; }
.upcard			{}
.selectedcard	{background: url('http://www.tekimaki.com/clients/bw/energymeasures/images/card_clear.gif') no-repeat top left;}

#matchesdialog {
	width:530px; 
	margin:0 auto; 
	padding:10px; 
	position:absolute; 
	top:60px; left:0; right:0; 
	z-index:10;
	color:#fff; 
	text-align:center; 
	border:solid 1px #4E84C4;

	background: rgb(36,36,93); 
	background: rgba(36,36,93, 0.9);
}
#matchesdialog .btn	{border:1px solid #fff}

#gameboard h1.goalpercent {margin:30px 0 0 60px; width:160px; font-family:Arial, Helvetical, sans-serif; color:#ffff99; color:white}




/* take care of some nasties */

.switch #edit_score .clear	{clear:none}
.switch legend				{display:none !important}
.switch fieldset			{border:none; margin:0; padding:0}
#content .switch .edit		{padding:0} 

.switch #edit_suggestion textarea			{width:94%}
.switch #edit_suggestion .lcol textarea		{width:94%}
.switch	#edit_suggestion .lcol input		{width:94%}
.switch #edit_suggestion .submit			{margin-top:22px}
.switch #edit_score .submit			{margin-top:12px}

.switch	.fieldlabel,
.switch input,
.switch textarea	{font-size:1.2em; font-weight:normal; color:#333}

.switch	.fieldlabel	{margin:4px 0; position:relative;}
.switch .footer p	{width:354px; margin:0;}
.switch .footer .copyright {position:absolute; right:10px; top:1em;}

